/*

[Responsive Stylesheet]

Project: KetNoiSo
Version: 1.0
Author : V&N

*/

@media screen and (max-width:1199px) {
    .header--nav-links>li>a {
        margin-left: 10px;
        margin-right: 10px
    }
    .header--nav-links.cart>li>a {
        margin-left: 15px
    }
    .header--nav-links.client-area>li>a {
        margin-left: 15px;
        margin-right: 15px
    }
    .header--nav-links.cart>li>a {
        margin-right: 0
    }
    .gallery--content-sidebar .table th {
        min-width: 145px
    }
    .gallery--content-sidebar .table td {
        padding-left: 10px
    }
    .contact-info--item {
        padding-left: 40px
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .product--single-summery-meta .btn-group {
        margin-top: 0;
        margin-left: 4px
    }
    .product--single-summery-meta .btn-group .btn.cart {
        padding-right: 10px
    }
    .product--single-summery-meta .btn-group .btn.cart .fa {
        margin-right: 10px
    }
    .product--single-summery-meta .btn-group .btn {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media screen and (max-width:991px) {
    .page--main-content img.m--0 {
        margin-bottom: 30px
    }
    .about-page img {
        margin-bottom: 20px
    }
    .header--navbar .navbar-header {
        float: none
    }
    #pricingIncluded .pricing--item,
    .banner--item .row--vc>div,
    .header--navbar .navbar-toggle,
    .services-tab--item .row--vc>div {
        display: block
    }
    .header--nav.collapse {
        display: none!important;
        max-height: 320px
    }
    .header--nav.collapse.in,
    .header--nav.collapsing {
        display: block!important
    }
    .header--nav.collapse.in {
        overflow-y: auto!important
    }
    .header--navbar>.container {
        position: static
    }
    .header--navbar .navbar-header .header--nav-links {
        float: right;
        margin: 0
    }
    .header--navbar .navbar-header .header--nav-links.client-area {
        margin-left: 12px
    }
    .header--nav {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 0;
        padding-right: 0;
        border-top: 1px solid #eee;
        background-color: #f9f9f9;
        box-shadow: 0 9px 9px 0 rgba(47, 44, 44, .2)
    }
    .header--nav-links {
        margin-top: 15px;
        margin-bottom: 15px
    }
    .header--nav .header--nav-links {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px
    }
    .header--nav-links.navbar-right,
    .header--nav-links>li {
        float: none!important
    }
    .header--nav-links>li>a {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .header--nav-links>li.dropdown>.dropdown-menu {
        float: none;
        position: relative;
        box-shadow: none
    }
    .header--nav-links>li.dropdown.open>.dropdown-menu {
        -webkit-animation: none;
        animation: none
    }
    .header--nav-links>li.dropdown.megamenu>.dropdown-menu.bg--overlay {
        position: relative;
        margin-left: 0;
        margin-right: 0
    }
    .header--nav-links.cart>li>a {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .banner--content+.banner--img,
    .banner--img+.banner--content,
    .services-tab--content+.services-tab--img,
    .services-tab--img+.services-tab--content {
        margin-top: 40px
    }
    #cart .pricing--table td.remove,
    .banner--content,
    .services-tab--content {
        text-align: center
    }
    .counter--item:after {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }
    .affiliate--counter .counter--item:after {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"
    }
    .services-tab--img img {
        margin: 0 auto
    }
    .features-grid--left {
        height: auto!important;
        text-align: left
    }
    .features-grid--left.text-right .features-grid--item:before {
        left: auto;
        right: 30px
    }
    .checkout--form form>.row>.col-md-6+.col-md-6,
    .datacenter--img+.datacenter--content,
    .gallery--content .article+.aside,
    .page--main-content+.page--sidebar,
    .testimonial--wrapper+.quotes-form--wrapper {
        margin-top: 60px
    }
    #pricingIncluded .pricing--item:first-child {
        display: none
    }
    #pricingIncluded .pricing--features {
        text-align: right
    }
    #pricingIncluded .pricing--features li strong {
        float: left;
        color: #222;
        font-family: 'Droid Serif', sans-serif;
        font-weight: 400
    }
    #pricingIncluded .pricing--items.border--on .pricing--features:before {
        border-right-width: 1px
    }
    .pricing--table thead {
        display: none
    }
    .pricing--table tr {
        display: block;
        margin-bottom: 30px;
        border-top: 1px solid #ccc;
        border-radius: 4px
    }
    .pricing--table tr:last-child {
        margin-bottom: 0
    }
    .pricing--table td {
        display: block;
        padding-top: 11px!important;
        padding-left: 15px!important;
        padding-right: 15px!important;
        text-align: right
    }
    .pricing--table td:before {
        top: 0;
        border-width: 0 1px 1px;
        border-radius: 0
    }
    .pricing--table td:first-child:before {
        border-radius: 4px 4px 0 0
    }
    .pricing--table td:last-child:before {
        border-radius: 0 0 4px 4px
    }
    #cart .pricing--table tr.cart--actions>td>strong,
    .pricing--table td:after {
        display: none
    }
    .pricing--table td strong {
        float: left;
        color: #222;
        font-family: 'Droid Serif', sans-serif
    }
    .pricing--table td .btn+strong {
        margin-top: 8px
    }
    .post--comments-list ul {
        padding-left: 0
    }
    .post--img img {
        margin-bottom: 0!important
    }
    .product--single-img+.product--single-summery {
        margin-top: 40px
    }
    .product--single-summery-meta .table td {
        display: block;
        padding-top: 0;
        padding-left: 0
    }
    .product--single-summery-meta .table th {
        display: inline-block;
        padding-top: 15px
    }
    .product--single-summery-meta .table th.middle {
        margin-top: 15px
    }
    #cart .pricing--table .product--quantity {
        display: inline-block
    }
    #cart .pricing--table .product--quantity+strong {
        margin-top: 9px
    }
    #cart .pricing--table tr.cart--actions {
        padding-bottom: 15px;
        border-top: 0
    }
    .cart--coupon .input-group {
        display: block
    }
    #f0f,
    #f0f>.container,
    #f0f>.container>.row,
    #f0f>.container>.row>div {
        height: auto
    }
    .f0f--title h1 {
        margin-bottom: 80px;
        border-right: 0;
        border-bottom: 2px solid #999;
        font-size: 64px;
        line-height: 105px;
        text-align: center
    }
    .f0f--content {
        padding-bottom: 80px;
        text-align: center
    }
    .contact-info--item {
        padding: 30px 15px;
        text-align: center
    }
    .contact-info--icon {
        float: none;
        margin-left: 15px
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .pricing--content.ribbon:before {
        content: "Recom..";
        top: 7px;
        left: -23px;
        padding: 6px 20px;
        font-size: 12px;
        line-height: 16px
    }
}

@media screen and (max-width:767px) {
    .about-widget--social>li,
    .header--topbar .nav,
    .header--topbar .nav>li {
        float: left
    }
    .header--topbar .nav {
        margin-top: 0;
        margin-bottom: 0
    }
    .header--social {
        margin-left: 0
    }
    .header--social>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
    .header--nav {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .header--nav-links {
        margin-left: 0;
        margin-right: 0
    }
    .header--nav .header--nav-links {
        width: auto
    }
    .header--nav-links>li.dropdown>.dropdown-menu {
        background-color: #fff
    }
    .header--nav-links.cart>li>a {
        margin-right: 15px
    }
    .owl-item .banner--item {
        padding-bottom: 80px
    }
    .banner--slider .owl-nav {
        display: none
    }
    .feature--item {
        width: 100%
    }
    .feature--icon .fa {
        padding-left: 15px;
        padding-right: 15px
    }
    .counter--item,
    .feature--item,
    .service--item {
        text-align: center
    }
    .counter--item:after {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }
    .counter--item .fa {
        left: 0;
        right: 0
    }
    .service--item {
        width: 100%
    }
    .service--icon {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px
    }
    .services-tab--item {
        padding: 40px
    }
    .gallery--item {
        width: 100%
    }
    .product--img figcaption .nav>li {
        display: table-cell;
        width: 1%
    }
    .cart--coupon {
        float: none!important;
        margin-bottom: 30px
    }
    .cart--actions>td>button[type=submit] {
        float: none!important;
        display: block
    }
}

@media screen and (max-width:480px) {
    .page--main-content-title .h3 {
        padding-right: 80px
    }
    .header--logo {
        max-width: 200px;
        padding: 29px 0 28px 15px
    }
    .vps-pricing--item.col-xs-6 {
        float: none;
        width: 100%
    }
    .login--form .checkbox a,
    .login--form .checkbox label {
        float: none!important
    }
    .login--form .checkbox label {
        margin-bottom: 5px
    }
    .product--single-summery-meta .btn-group {
        float: none!important;
        width: 100%;
        margin-top: 0;
        margin-left: -4px
    }
    .product--single-summery-meta .btn-group .btn {
        margin-top: 10px
    }
    .cart--coupon .input-group {
        width: 100%
    }
    .cart--coupon .form-control {
        float: none;
        display: block;
        width: 100%;
        border-right: 1px solid #ccc;
        border-radius: 4px!important
    }
    .cart--coupon .input-group-addon {
        display: block
    }
    .cart--coupon .input-group-addon .btn {
        margin-top: 10px;
        border-radius: 4px
    }
    .hidden-xxs {
        display: none!important
    }
}