/*

[Main Stylesheet]

Project: KetNoiSo
Version: 1.0
Author : V&N

*/

.wrapper,
body,
html {
    height: 100%
}

body {
    font-family: 'Roboto', sans-serif
}

p:last-child {
    margin-bottom: 0
}

img {
    max-width: 100%;
    height: auto
}

::-webkit-resizer {
    display: none;
    background-image: url(img/textarea-resizer.png);
    background-position: right bottom;
    background-repeat: no-repeat
}

::-moz-selection {
    color: #fff;
    background-color: #119ee6
}

::selection {
    color: #fff;
    background-color: #119ee6
}

.fm {
    margin-right: 8px
}

.flm {
    margin-left: 8px
}

.btn.active,
.btn:active {
    box-shadow: none
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.nav li a:focus,
.nav li a:hover,
.nav li.open a,
.nav li.open a:focus {
    background-color: transparent
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Serif', serif;
    font-weight: 700
}

.btn-link,
.btn-link:active,
.btn-link:hover,
.btn-link:link,
.btn-link:visited,
a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    outline: 0
}

.btn-link {
    font-family: 'Droid Serif', serif;
    font-size: 16px
}

.btn-link,
a {
    color: #222;
    -webkit-transition: color .25s, background-color .25s ease-in-out, border-color .25s;
    transition: color .25s, background-color .25s ease-in-out, border-color .25s
}

.btn-link:focus,
.btn-link:hover,
.panel-title a.collapsed:focus,
.panel-title a.collapsed:hover,
a:focus,
a:hover {
    color: #119ee6
}

.btn {
    padding: 8px 20px;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: color .25s, background-color .25s ease-in-out, border-color .25s;
    transition: color .25s, background-color .25s ease-in-out, border-color .25s
}

.btn.btn-sm {
    padding: 6px 16px;
    font-size: 14px;
    line-height: 18px
}

a.btn,
button.btn {
    position: relative;
    overflow: hidden
}

a.btn:before,
button.btn:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -125px;
    width: 120px;
    height: 100%;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    -webkit-transition: right 1.15s cubic-bezier(.19, 1, .22, 1);
    transition: right 1.15s cubic-bezier(.19, 1, .22, 1);
    background-color: #fff;
    opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"
}

#backToTop a:hover:after,
a.btn:hover:before,
button.btn:hover:before {
    right: 100%
}

.btn-default {
    color: #222;
    background-color: transparent;
    border: 1px solid #222
}

.btn-default.white {
    color: #fff;
    border-color: #fff
}

.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #119ee6;
    border-color: #119ee6
}

.bg-color--theme .btn-default {
    color: #fff;
    border-color: #fff
}

.bg-color--theme .btn-default.active,
.bg-color--theme .btn-default.active.focus,
.bg-color--theme .btn-default.active:focus,
.bg-color--theme .btn-default.active:hover,
.bg-color--theme .btn-default.focus,
.bg-color--theme .btn-default:active,
.bg-color--theme .btn-default:active.focus,
.bg-color--theme .btn-default:active:focus,
.bg-color--theme .btn-default:active:hover,
.bg-color--theme .btn-default:focus,
.bg-color--theme .btn-default:hover,
.bg-color--theme .open>.dropdown-toggle.btn-default,
.bg-color--theme .open>.dropdown-toggle.btn-default.focus,
.bg-color--theme .open>.dropdown-toggle.btn-default:focus,
.bg-color--theme .open>.dropdown-toggle.btn-default:hover {
    color: #119ee6;
    background-color: #fff;
    border-color: #fff
}

.btn-primary {
    color: #fff;
    background-color: #119ee6;
    border: 1px solid #119ee6
}

.btn-primary.active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #000;
    border-color: #000
}

.btn-black {
    color: #fff;
    background-color: #000;
    border: 1px solid #000
}

.btn-black.active,
.btn-black.active.focus,
.btn-black.active:focus,
.btn-black.active:hover,
.btn-black.focus,
.btn-black:active,
.btn-black:active.focus,
.btn-black:active:focus,
.btn-black:active:hover,
.btn-black:focus,
.btn-black:hover,
.open>.dropdown-toggle.btn-black,
.open>.dropdown-toggle.btn-black.focus,
.open>.dropdown-toggle.btn-black:focus,
.open>.dropdown-toggle.btn-black:hover {
    color: #fff;
    background-color: #119ee6;
    border-color: #119ee6
}

.text-color--default {
    color: #222
}

.bg-color--white {
    background-color: #fff
}

.bg--overlay:before,
.bg-color--black {
    background-color: #000
}

.bg-color--alabaster {
    background-color: #f9f9f9
}

.bg-color--codgray {
    background-color: #151414
}

.bg-color--concrete {
    background-color: #f2f2f2
}

.bg-color--theme {
    color: #fff;
    background-color: #119ee6
}

.bg--img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.bg--img-bottom {
    background-size: auto;
    background-position: center 101%
}

.bg--overlay {
    position: relative;
    z-index: 0
}

.bg--overlay:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    z-index: -1
}

#cart .pricing--table td:after,
#cart .pricing--table th:after,
.bg--overlay-off:before,
.login--form .checkbox label input,
.page--sidebar-nav .nav>li:before,
.product--rating .br-theme-bootstrap-stars .br-widget a[data-rating-value="0"] {
    display: none
}

img.shadow--on {
    box-shadow: 0 1px 20px rgba(0, 0, 0, .05)
}

blockquote {
    position: relative;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-left-width: 0;
    font-size: 14px;
    line-height: 29px
}

blockquote:before {
    content: " ";
    position: absolute;
    top: 9px;
    left: 0;
    bottom: 7px;
    width: 2px;
    background-color: #eee
}

ul.list--icon-hand {
    list-style: none
}

ul.list--icon-hand li:before {
    content: "\f0a4";
    margin-left: -14px;
    margin-right: 14px;
    font-family: "FontAwesome"
}

.panel-group {
    margin-bottom: 80px
}

.header--nav-links>li.dropdown>.dropdown-menu>li:last-child,
.panel-group:last-child {
    margin-bottom: 0
}

.panel {
    padding: 0 30px;
    border: 0;
    box-shadow: none
}

.panel-heading {
    padding: 13.5px 0
}

.panel:first-child .panel-heading,
.panel:last-child .panel-heading {
    padding-top: 10px
}

.panel-title {
    font-weight: lighter
}

.panel-title a {
    color: #119ee6
}

.panel-title a.collapsed {
    color: #444
}

.panel-title a:before {
    content: "\f107";
    display: inline-block;
    min-width: 10px;
    margin-right: 14px;
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 0;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out
}

.panel-title a.collapsed:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0
}

.panel-body {
    margin-top: 14px;
    margin-left: 27px;
    padding: 24px 30px 26px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
    font-style: italic
}

.m--0 {
    margin: 0
}

.m--0-0-60 {
    margin: 0 0 60px
}

.m--20-0-0 {
    margin: 20px 0 0
}

.m--30-0-0 {
    margin: 30px 0 0
}

.m--40-0-0,
.m--50-0-0 {
    margin: 40px 0 0
}

.pd--100-0 {
    padding: 100px 0
}

.pd--100-0-0 {
    padding: 100px 0 0
}

.pd--130-0 {
    padding: 130px 0
}

.pd--100-0-90 {
    padding: 100px 0 90px
}

.pd--100-0-40 {
    padding: 100px 0 40px
}

.pd--80-40 {
    padding: 80px 0 40px
}

.pd--50 {
    padding: 50px 0
}

.section--title {
    margin-bottom: 50px;
    color: #999;
    font-size: 16px;
    line-height: 24px;
    text-align: center
}

.section--title.text-left {
    text-align: left
}

.section--title h2 {
    margin: 0;
    color: #222;
    font-size: 48px;
    line-height: 56px
}

.section--title p:first-child {
    margin-top: -6px
}

.section--content {
    margin-bottom: 90px;
    color: #555;
    font-size: 16px;
    line-height: 30px
}

.section--content p:first-child {
    margin-top: -12px
}

.owl--dots .owl-nav {
    margin-top: 33px;
    margin-bottom: -2px;
    color: #222;
    font-size: 0;
    line-height: 0;
    text-align: center
}

.owl--dots .owl-next,
.owl--dots .owl-prev {
    display: inline-block;
    margin: 0 8px;
    font-size: 24px
}

.owl--dots .owl-prev+.owl-next:before {
    content: "/";
    margin-left: -8px;
    margin-right: 8px
}

.owl--dots .owl-nav .fa {
    -webkit-transition: color .25s;
    transition: color .25s
}

.owl--dots .owl-nav .fa:hover {
    color: #119ee6
}

.owl--dots .owl-prev .fa-angle-left:before {
    content: "\f177"
}

.owl--dots .owl-next .fa-angle-right:before {
    content: "\f178"
}

.pagination {
    float: left;
    display: block;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1)
}

.pagination>li {
    display: inline-block
}

.pagination>li>a,
.pagination>li>span {
    color: #222;
    border-color: #eee;
    font-size: 14px;
    line-height: 20px
}

.pagination>li.disabled>a,
.pagination>li.disabled>a:focus,
.pagination>li.disabled>a:hover,
.pagination>li.disabled>span,
.pagination>li.disabled>span:focus,
.pagination>li.disabled>span:hover {
    color: #ccc;
    border-color: #eee
}

.pagination>li.active>a,
.pagination>li.active>a:hover,
.pagination>li.active>span,
.pagination>li.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #fff;
    background-color: #119ee6;
    border-color: #119ee6
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 0
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0
}

.pager {
    margin: 0;
    padding: 20px 20px 21px
}

.pager li>a,
.pager li>span {
    padding: 0;
    background-color: transparent;
    border: 0;
    font-family: 'Droid Serif', serif
}

.pager li>a:hover,
.pager li>span:focus {
    background-color: transparent
}

.nav-tabs {
    border-bottom: 0
}

.nav-tabs>li {
    margin-bottom: 0
}

.nav-tabs>li>a {
    margin-right: 0;
    padding: 8px 30px 10px;
    color: #222;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    color: #fff;
    background-color: #119ee6;
    border-color: #119ee6
}

.nav-tabs>li~li>a,
.services-tab--nav ul li~li {
    margin-left: -1px
}

.nav-tabs>li.active+li>a,
.nav-tabs>li:hover+li>a {
    border-left-color: #119ee6
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #119ee6;
    z-index: 9999999999
}

.preloader--spinner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: -15px auto 0;
    background-color: #fff;
    -webkit-animation: preloaderSpinner 1.2s infinite ease-in-out;
    animation: preloaderSpinner 1.2s infinite ease-in-out
}

@-webkit-keyframes preloaderSpinner {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    to {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes preloaderSpinner {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

#backToTop {
    position: fixed;
    right: 10px;
    bottom: 50px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: opacity .25s, visibility .25s;
    transition: opacity .25s, visibility .25s;
    z-index: 999
}

body.isScrolling #backToTop {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
}

#backToTop a {
    display: block;
    position: relative;
    width: 60px;
    padding: 14px 0;
    color: #fff;
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 50%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
    z-index: 0
}

#backToTop a:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #119ee6;
    border-radius: 50%;
    z-index: -1
}

#backToTop a:after {
    content: " ";
    position: absolute;
    top: 0;
    right: -230px;
    width: 230px;
    height: 100%;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    -webkit-transition: right 1.15s cubic-bezier(.19, 1, .22, 1);
    transition: right 1.15s cubic-bezier(.19, 1, .22, 1);
    background-color: #fff;
    opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"
}

body.isTawkMobile #backToTop {
    right: 16px;
    bottom: 80px
}

.cart--widget,
.search--widget {
    padding: 30px
}

.search--widget .form-control {
    height: auto;
    padding: 6px 20px 5px;
    background-color: transparent;
    border-width: 1px 0 1px 1px;
    border-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    outline: 0
}

.search--widget .input-group-addon {
    padding: 0;
    background-color: transparent;
    border: 0
}

.search--widget .input-group-addon .btn {
    padding: 6px 9.5px 5px;
    border-radius: 0;
    font-size: 16px;
    line-height: 22px
}

.links--widget .nav {
    padding: 15px 0 30px
}

.links--widget .nav li {
    padding: 8px 25px 9px;
    border-bottom: 1px solid #eee;
    overflow: hidden
}

.links--widget .nav li a {
    float: left;
    display: block;
    padding: 0
}

.links--widget .nav li .count {
    float: right;
    display: block
}

.tags--widget .nav {
    padding: 24px 25px 16px;
    font-size: 0;
    line-height: 0
}

.tags--widget .nav li {
    display: inline-block
}

.tags--widget .nav li a {
    margin-right: 5px;
    margin-bottom: 14px;
    padding: 0;
    color: #555;
    border-bottom: 1px solid #999;
    font-size: 14px;
    line-height: 18px
}

.tags--widget .nav li a:hover {
    color: #119ee6;
    border-color: #119ee6
}

.cart--widget>p:first-child:last-child {
    margin: -8px 0 -11px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
}

.ad--widget {
    padding: 30px 20px
}

.about-widget--social {
    float: none
}

.about-widget--social>li>span {
    display: block;
    color: #777;
    margin-right: 12px
}

.about-widget--social>li>a {
    color: #777;
    padding: 0 7.5px
}

.about-widget--social>li>a:focus,
.about-widget--social>li>a:hover,
.header--topbar .nav>li>a:focus,
.header--topbar .nav>li>a:hover {
    color: #119ee6
}

.recent-posts--widget .nav {
    padding: 15px 0 30px
}

.recent-posts--widget li {
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    overflow: hidden
}

.recent-posts--widget img {
    float: left;
    width: 60px;
    margin-right: 15px
}

.recent-posts--widget .content {
    margin-top: -3px;
    margin-bottom: -11px
}

.recent-posts--widget .content .h5 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 19px
}

.recent-posts--widget .content .h5+a {
    display: block;
    margin-top: -2px;
    color: #999
}

.subscribe--widget .form-control {
    height: auto;
    padding: 10px 20px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-overflow: ellipsis;
    outline: 0
}

.subscribe--widget .input-group-addon {
    padding: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0
}

.subscribe--widget .input-group-addon .btn {
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 0;
    font-size: 14px;
    line-height: 18px
}

.payment-info--widget .h5 {
    margin: 0 0 22px;
    font-weight: 400
}

.header--topbar,
.header--topbar .nav>li>a {
    color: #aaa
}

.header--social>li>span {
    display: block;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px
}

.header--social>li>a {
    padding-left: 7.5px;
    padding-right: 7.5px
}

.header--contact-info {
    margin-right: -20px
}

.header--contact-info>li {
    margin: 10px 0;
    border-left: 1px solid #333
}

.header--contact-info>li:first-child {
    border: 0
}

.header--contact-info>li>a {
    padding: 5px 20px
}

.header--navbar {
    min-height: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    z-index: 999
}

.is-sticky .header--navbar {
    box-shadow: 0 9px 9px 0 rgba(47, 44, 44, .2)
}

.header--navbar>.container {
    position: relative
}

.header--logo {
    height: auto;
    padding-top: 26px;
    padding-bottom: 26px
}

.header--navbar .navbar-toggle {
    margin-top: 24px;
    margin-right: 0;
    border-color: #119ee6;
    background-color: #119ee6;
    -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
    transition: background-color .25s ease-in-out, border-color .25s ease-in-out
}

.header--navbar .navbar-toggle .icon-bar {
    background-color: #fff;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

.header--navbar .navbar-toggle.collapsed {
    border-color: #222;
    background-color: transparent
}

.header--navbar .navbar-toggle.collapsed .icon-bar {
    background-color: #222
}

.header--nav-links>li>a {
    margin: 0 15px;
    padding: 30px 0;
    font-size: 16px;
    line-height: 21px
}

.header--nav-links>li.dropdown>.dropdown-menu>li>a:focus,
.header--nav-links>li.dropdown>.dropdown-menu>li>a:hover,
.header--nav-links>li.open>a,
.header--nav-links>li.open>a:focus,
.header--nav-links>li.open>a:hover {
    background-color: transparent
}

.header--nav-links>li.active>a,
.header--nav-links>li.dropdown>.dropdown-menu>li.active>a,
.header--nav-links>li.dropdown>.dropdown-menu>li>a:focus,
.header--nav-links>li.dropdown>.dropdown-menu>li>a:hover,
.header--nav-links>li.open>a,
.header--nav-links>li>a:focus,
.header--nav-links>li>a:hover {
    color: #119ee6
}

.header--nav-links>li>a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #119ee6;
    -webkit-transition: left .25s ease-in-out, right .25s ease-in-out;
    transition: left .25s ease-in-out, right .25s ease-in-out
}

.header--nav-links>li.active>a:before,
.header--nav-links>li.open>a:before,
.header--nav-links>li>a:focus:before,
.header--nav-links>li>a:hover:before {
    left: 0;
    right: 0
}

.header--nav-links>li.dropdown.megamenu {
    position: static
}

.header--nav-links>li.dropdown>.dropdown-menu {
    padding: 13px 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1)
}

.header--nav-links>li.dropdown.open>.dropdown-menu {
    -webkit-animation: zoomIn .25s ease-in-out;
    animation: zoomIn .25s ease-in-out
}

.header--nav-links>li.dropdown.megamenu.open>.dropdown-menu {
    -webkit-animation-duration: .35s;
    animation-duration: .35s
}

.header--nav-links>li.dropdown.megamenu>.dropdown-menu.bg--overlay {
    position: absolute
}

.header--nav-links>li.dropdown.megamenu>.dropdown-menu.bg--overlay:before {
    background-color: #fff;
    opacity: .92;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)"
}

.banner--slider-nav li .content p,
.header--nav-links>li.dropdown>.dropdown-menu>li {
    margin-bottom: 4px
}

.header--nav-links>li.dropdown>.dropdown-menu>li>a,
.post--meta a {
    color: #999
}

.header--nav-links>li.dropdown.megamenu>.dropdown-menu {
    left: 0;
    margin: 0 15px;
    padding: 12px 15px 30px;
    overflow: hidden
}

.header--nav-links>li.dropdown.megamenu>.dropdown-menu>.nav {
    padding-left: 15px;
    padding-right: 15px
}

.header--nav-links>li.dropdown.megamenu>.dropdown-menu>.nav>li>a {
    color: #999;
    padding: 11px 0 9px;
    border-bottom: 1px dashed #aaa
}

.header--nav-links>li.dropdown.megamenu>.dropdown-menu>.nav>li.active>a,
.header--nav-links>li.dropdown.megamenu>.dropdown-menu>.nav>li>a:focus,
.header--nav-links>li.dropdown.megamenu>.dropdown-menu>.nav>li>a:hover {
    color: #119ee6;
    border-color: #119ee6
}

.header--nav-links.cart>li>a {
    margin-right: 0
}

.header--nav-links.client-area>li {
    width: 1px;
    height: 30px;
    margin: 8px 48.5px;
    background-color: #dcdcdc
}

.header--nav-links.client-area>li>a {
    position: absolute;
    top: 100%;
    left: -49px;
    margin-top: 8px;
    padding: 18px 22px;
    color: #fff!important;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 24px;
    line-height: 28px;
    overflow: hidden;
    z-index: 1
}

.header--nav-links.client-area>li>a:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    border: 7px solid #fff;
    border-radius: 50%;
    z-index: -1
}

.header--nav-links.client-area>li>a:after {
    content: " ";
    position: absolute;
    top: 0;
    right: -230px;
    width: 230px;
    height: 100%;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    -webkit-transition: right 1.15s cubic-bezier(.19, 1, .22, 1);
    transition: right 1.15s cubic-bezier(.19, 1, .22, 1);
    background-color: #fff;
    opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"
}

.header--nav-links.client-area>li>a:hover:after {
    right: 100%
}

#pageHeader {
    padding: 74px 0 73px;
    color: #000;
    word-wrap: break-word
}

#pageHeader.bg--overlay:before {
    background-color: #fff;
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"
}

.page--main-content img.m--0,
.page-header--title .h1 {
    margin: 0
}

.page-header--breadcrumb .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0
}

.page-header--title+.page-header--breadcrumb {
    margin-top: 25px
}

.page-header--breadcrumb .breadcrumb>li {
    font-size: 18px
}

.page-header--breadcrumb .breadcrumb>li.active,
.post--action .social>li>a:hover>.fa,
.post--meta a:hover {
    color: #119ee6
}

#pageContent {
    color: #555;
    font-size: 14px;
    line-height: 30px
}

#pageContent h1,
#pageContent h2,
#pageContent h3 {
    margin: 32px 0 22px;
    color: #222;
    line-height: 1.2;
    font-weight: 400
}

#pageContent h1:first-child,
#pageContent h2:first-child,
#pageContent h3:first-child {
    margin-top: 0
}

#pageContent h1:last-child,
#pageContent h2:last-child,
#pageContent h3:last-child {
    margin-bottom: 0
}

#pageContent img.pull-left {
    margin-right: 30px
}

.page--main-content {
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter
}

.page--main-content img {
    margin-bottom: 30px
}

.page--main-content-title {
    margin-bottom: 30px;
    font-size: 0;
    line-height: 0
}

.page--main-content-title .h3 {
    display: inline-block;
    position: relative;
    padding: 15px 180px 15px 30px;
    overflow: hidden;
    z-index: 0
}

.page--main-content-title .h3:after,
.page--main-content-title .h3:before {
    content: " ";
    position: absolute;
    top: 0;
    z-index: -1
}

.page--main-content-title .h3:before {
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px;
    border-color: transparent transparent #f9f9f9 #f9f9f9
}

.page--main-content-title .h3:after {
    left: 0;
    right: 58px;
    bottom: 0;
    background-color: #f9f9f9
}

.page--sidebar-nav .nav>li>a {
    padding: 23px 20px 25px;
    color: #222;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent #eee;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: color .25s, border-color .25s ease-in-out, box-shadow .25s ease-in-out;
    transition: color .25s, border-color .25s ease-in-out, box-shadow .25s ease-in-out
}

.page--sidebar-nav .nav>li:last-child>a {
    border-bottom: 0
}

.page--sidebar-nav .nav>li.active>a,
.page--sidebar-nav .nav>li:hover>a {
    color: #119ee6;
    border-left-color: #119ee6
}

.page--sidebar-nav .nav>li>a>.fa {
    min-width: 35px;
    margin-right: 8px;
    text-align: center
}

.page--sidebar-widget,
.post--comments-list>li,
.post--item {
    margin-bottom: 30px
}

.page--sidebar-widget:last-child {
    margin-bottom: 0
}

.page--sidebar-widget>.h4 {
    margin: 0;
    padding: 27px 30px;
    color: #222;
    background-color: #f9f9f9;
    border-left: 1px solid #119ee6;
    border-bottom: 1px solid #eee;
    font-weight: 400
}

.post--content blockquote:last-child,
.post--item:last-child {
    margin-bottom: 0
}

.post--details,
.post--summery {
    padding: 26px 30px 30px
}

.post--title {
    margin-bottom: 25px
}

#pageContent .post--title h2 {
    margin: 0;
    font-weight: 700
}

.post--content blockquote,
.post--meta {
    color: #999;
    font-style: italic
}

.post--meta a sup {
    top: -.3em;
    left: 1px
}

.post--content .col-md-6 img,
.post--meta+.post--content {
    margin-top: 20px
}

.post--content+.post--action {
    margin-top: 26px
}

.post--content h4,
.post--content h5,
.post--content h6 {
    margin: 20px 0;
    color: #222;
    font-weight: 400
}

.post--content blockquote {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    font-size: 16px
}

.post--content blockquote:before {
    content: "\f10d";
    float: left;
    position: relative;
    width: auto;
    margin: -15px 8px 0 0;
    color: #ccc;
    background-color: transparent;
    font-family: "FontAwesome";
    font-size: 30px;
    line-height: 30px
}

.post--action .social {
    color: #222;
    font-family: 'Droid Serif', serif
}

.post--action .social .fa {
    color: #999;
    -webkit-transition: color .25s;
    transition: color .25s
}

.post--action .social>li {
    float: left
}

.post--action .social span {
    margin-right: 5px
}

.post--action .social>li>a {
    padding: 0 9px
}

.post--action .social>li:last-child>a {
    padding-right: 0
}

.posts--cat .nav,
.posts--tags .nav {
    font-size: 0;
    line-height: 0
}

.posts--cat .nav>li,
.posts--tags .nav>li {
    display: inline-block;
    margin-right: 5px
}

.posts--cat .nav>li>a,
.posts--cat .nav>li>span,
.posts--tags .nav>li>a,
.posts--tags .nav>li>span {
    font-size: 16px;
    line-height: 22px
}

.posts--cat .nav>li>span,
.posts--tags .nav>li>span {
    font-family: 'Droid Serif', sans-serif
}

.posts--cat .nav>li>a,
.posts--tags .nav>li>a {
    padding: 0;
    color: #555
}

.posts--cat .nav>li>a:hover,
.posts--tags .nav>li>a:hover {
    color: #119ee6
}

.posts--tags .nav>li>a {
    border-bottom: 1px solid #999
}

.posts--tags .nav>li>a:focus,
.posts--tags .nav>li>a:hover {
    border-color: #119ee6
}

.post--comments {
    margin-top: 24px
}

.post--comments-title {
    color: #222;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400
}

.post--comments-title+.post--comments-list {
    margin-top: 21px
}

.post--comments-list ul {
    margin-top: 30px;
    padding-left: 90px;
    list-style: none
}

.post--comments-list>li:last-child {
    margin-bottom: 0
}

.post--commenter-img {
    float: left;
    width: 60px
}

.post--commenter-img+.post--commenter-content {
    margin-left: 90px
}

.post--commenter-content {
    position: relative;
    padding: 15px 20px;
    color: #999;
    border: 1px solid #eee;
    font-size: 14px;
    line-height: 24px;
    z-index: 0
}

.post--commenter-content:after,
.post--commenter-content:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #eee transparent transparent
}

.post--commenter-content:after {
    left: -8px;
    border-width: 7px 9px 7px 0;
    border-color: transparent #fff transparent transparent
}

.post--commenter-name {
    margin-bottom: 10px;
    overflow: hidden
}

.post--commenter-name .h4,
.post--commenter-name .h4 small {
    font-size: 14px;
    line-height: 22px
}

.post--commenter-name .h4 {
    margin: 0;
    color: #555;
    font-family: "Roboto", sans-serif
}

.post--commenter-name .h4 small,
.post--comments-form .form-group label span {
    color: #999
}

.post--commenter-reply-btn {
    -webkit-transition: color .25s;
    transition: color .25s
}

.post--commenter-reply-btn:hover {
    color: #119ee6;
    cursor: pointer
}

.post--comments-form {
    margin-top: 19px;
    font-size: 14px;
    line-height: 26px
}

.post--comments-form .post--comments-title+p {
    margin-top: 6px;
    margin-bottom: 6px
}

.post--comments-form .form-group {
    margin-bottom: 20px
}

.post--comments-form .form-group+.form-group {
    margin-top: -10px
}

.post--comments-form .form-group label,
.product--single-tabs .review--form .form-group label {
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400
}

.post--comments-form .form-control {
    height: auto;
    padding: 9px 15px;
    border-color: #eee;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    resize: vertical
}

.post--comments-form textarea.form-control,
.product--single-tabs .review--form .form-group textarea.form-control {
    min-height: 120px
}

.banner--slider .owl-next,
.banner--slider .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;
    padding: 25px 15px;
    color: #fff;
    background-color: #119ee6;
    font-size: 36px
}

.banner--slider .owl-next {
    left: auto;
    right: 0
}

.banner--slider-nav .nav {
    font-size: 0;
    line-height: 0
}

.banner--slider-nav li {
    display: inline-block;
    padding-top: 40px;
    font-size: 14px;
    line-height: 18px;
    -webkit-transition: padding-top .25s ease-in-out;
    transition: padding-top .25s ease-in-out;
    vertical-align: bottom
}

.banner--slider-nav li.active,
.banner--slider-nav li:hover {
    padding-top: 0
}

.banner--slider-nav li .icon,
.services-tab--nav ul li a {
    position: relative;
    padding: 0 30px;
    z-index: 0
}

.banner--slider-nav li .icon:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #119ee6;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    z-index: -1
}

.banner--slider-nav li.active .icon:before,
.banner--slider-nav li:hover .icon:before {
    background-color: #fff
}

.banner--slider-nav li .icon .fa {
    position: relative;
    min-width: 65px;
    padding: 18.5px 0;
    font-size: 24px;
    color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: border-color .25s;
    transition: border-color .25s;
    z-index: 0
}

.banner--slider-nav li.active .icon .fa,
.banner--slider-nav li:hover .icon .fa {
    border-color: #119ee6
}

.banner--slider-nav li .icon .fa:after,
.service--icon:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #119ee6;
    border-radius: 50%;
    z-index: -1
}

.banner--slider-nav li .icon .fa:after {
    right: 0;
    bottom: 0;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    border: 5px solid #fff
}

.banner--slider-nav li.active .icon .fa:after,
.banner--slider-nav li:hover .icon .fa:after {
    background-color: #000
}

.banner--slider-nav li .content {
    padding: 26px 30px 0;
    -webkit-transition: padding .25s ease-in-out, background-color .25s ease-in-out;
    transition: padding .25s ease-in-out, background-color .25s ease-in-out
}

.banner--slider-nav li.active .content,
.banner--slider-nav li:hover .content {
    padding-bottom: 25px;
    color: #555;
    background-color: #fff
}

.banner--slider-nav li .content .h3 {
    margin-top: 0
}

.banner--slider-nav li.active .content .h3,
.banner--slider-nav li:hover .content .h3 {
    color: #222
}

.banner--slider-nav li .content .h3+p {
    margin-top: 14px
}

.banner--slider-nav li .content a {
    display: inline-block;
    margin-top: 3px;
    padding-left: 0;
    padding-right: 0;
    color: #119ee6;
    text-align: left;
    -webkit-transition: margin .25s ease-in-out;
    transition: margin .25s ease-in-out
}

.banner--slider-nav li.active .content a,
.banner--slider-nav li:hover .content a {
    margin-top: 15px
}

.banner--item {
    padding: 100px 0
}

.owl-item .banner--item {
    padding-bottom: 30px
}

.banner--content {
    font-size: 16px;
    line-height: 28px
}

.banner--content .h1 {
    margin: 0;
    font-size: 48px;
    line-height: 70px
}

.banner--content .h1+p {
    margin-top: 20px
}

.banner--content .btn {
    margin-top: 21px
}

.banner--img img {
    display: block;
    margin: 0 auto
}

.owl-carousel .owl-item .banner--img img {
    width: auto
}

.banner--offer {
    margin-top: 45px;
    text-align: center
}

.banner--offer-content {
    display: inline-block;
    padding: 20px 30px;
    color: #222;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: lighter
}

.banner--offer-content .h2 {
    margin: 13px 0 14px;
    color: #119ee6
}

.banner--offer-content .btn {
    margin-top: 19px
}

#domainSearch,
#domainSearch .section--title,
#domainSearch .section--title h2 {
    color: #fff
}

#domainSearch .section--title h2 {
    font-size: 36px;
    line-height: 46px
}

#domainSearch .section--title h2+p {
    margin-top: 11px;
    font-size: 18px
}

.domain--ext ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center
}

.domain--ext ul li {
    display: inline-block;
    margin: 0 20px;
    text-align: left
}

.domain--ext .h4 {
    margin: 0 0 3px
}

.domain-search--form {
    max-width: 630px;
    margin: 54px auto 0
}

.domain-search--form .input-group {
    padding: 10px;
    background-color: #119ee6
}

.bg-color--theme .domain-search--form .input-group {
    background-color: #ccc
}

.domain-search--form .form-control {
    height: auto;
    padding: 11px 5px 9px 30px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: 0
}

.domain-search--form .input-group-addon {
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0
}

.domain-search--form .input-group-addon select {
    padding: 10px 25px;
    border-radius: 0;
    font-size: 14px;
    line-height: 18px
}

.domain-search--form .action--button {
    margin-top: 50px;
    text-align: center
}

.service--item {
    margin-bottom: 60px
}

.service--icon {
    float: left;
    position: relative;
    width: 65px;
    margin-right: 15px;
    padding-top: 2px;
    padding-left: 1px;
    color: #fff;
    border: 1px solid #222;
    border-radius: 50%;
    font-size: 24px;
    line-height: 61px;
    text-align: center;
    z-index: 0
}

.service--icon:before {
    width: 100%;
    height: 100%;
    border: 6.5px solid #fff
}

.service--content {
    color: #555;
    line-height: 25px;
    overflow: hidden
}

.service--content h2 {
    margin: -2px 0 15px;
    color: #222;
    font-weight: 400
}

.service--content>.btn {
    margin-top: 12px
}

.service--thumbnails {
    margin: 32px -15px 0
}

.gallery--content-featured img,
.product--img figure>img,
.service--thumbnails img {
    width: 100%
}

.affiliate--services {
    counter-reset: affiliateServices
}

.affiliate--services .service--item {
    padding-top: 30px;
    padding-bottom: 22px
}

.affiliate--services .service--item.bg--overlay:before {
    left: 15px;
    right: 15px;
    width: auto;
    background-color: #f2f2f2;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.affiliate--services .service--item.bg--overlay:after {
    counter-increment: affiliateServices;
    content: counter(affiliateServices, decimal-leading-zero);
    position: absolute;
    left: 0;
    bottom: -31px;
    width: 100%;
    color: #fff;
    font-family: 'Droid Serif', serif;
    font-size: 200px;
    line-height: 200px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: -1
}

.affiliate--services .service--icon {
    float: none;
    margin: 0 auto 26px
}

.affiliate--services .service--content {
    padding: 0 25px
}

.affiliate--services .service--content h2 {
    margin-bottom: 17px;
    font-weight: 700
}

.services-tab--nav {
    margin-bottom: 80px
}

.services-tab--nav ul {
    margin-top: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center
}

.services-tab--nav ul li {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #e9e9e9;
    z-index: 0
}

.services-tab--nav ul li:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 7.5px;
    border-color: #119ee6 transparent transparent;
    -webkit-transition: bottom .25s ease-in-out;
    transition: bottom .25s ease-in-out;
    z-index: -1
}

.services-tab--nav ul li.active:after {
    bottom: -14px
}

.services-tab--nav ul li a {
    min-width: 120px;
    padding: 25px 0;
    color: #999;
    background-color: #fff
}

.services-tab--nav ul li a:focus,
.services-tab--nav ul li a:hover,
.services-tab--nav ul li.active a {
    color: #119ee6;
    background-color: #fff
}

.services-tab--nav ul li a:before {
    content: " ";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    -webkit-transition: left .25s ease-in-out, right .25s ease-in-out, background-color .25s ease-in-out;
    transition: left .25s ease-in-out, right .25s ease-in-out, background-color .25s ease-in-out
}

.services-tab--nav ul li a:focus:before,
.services-tab--nav ul li a:hover:before,
.services-tab--nav ul li.active a:before {
    left: 0;
    right: 0;
    background-color: #119ee6
}

.services-tab--nav ul li a .fa {
    font-size: 30px
}

.services-tab--nav ul li .tooltip {
    margin-top: -6px
}

.services-tab--nav ul li .tooltip-inner {
    padding: 8.5px 25px 11px;
    background-color: #119ee6;
    border-radius: 0;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap
}

.product--img figcaption .nav>li .tooltip.top .tooltip-arrow,
.services-tab--nav ul li .tooltip.top .tooltip-arrow {
    bottom: -2px;
    border-width: 7px 7px 0;
    border-top-color: #119ee6
}

.services-tab--item {
    padding: 80px;
    background-color: #fff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, .05)
}

.services-tab--content {
    color: #555;
    font-size: 14px;
    line-height: 26px
}

.services-tab--content .h3 {
    margin: 0 0 28px;
    color: #000
}

.services-tab--content p {
    margin-bottom: 11px
}

.services-tab--content p:last-child {
    margin-bottom: 0
}

.services-tab--content blockquote {
    color: #999;
    font-style: italic
}

.product--single-tabs .review--form button[type=submit],
.services-tab--content .btn {
    margin-top: 20px
}

#features {
    color: #444
}

.feature--item {
    margin-bottom: 60px
}

.feature--icon {
    margin-bottom: 27px
}

.feature--icon .fa {
    padding-right: 30px;
    padding-bottom: 13px;
    color: #119ee6;
    border-bottom: 1px solid #119ee6;
    font-size: 30px;
    line-height: 34px
}

.feature--content .h4 {
    color: #222;
    margin-bottom: 23px
}

#featuresGrid {
    counter-reset: featuresGrid
}

.features-grid--left {
    height: 100%;
    padding-bottom: 10px
}

.features-grid--right>.row>div {
    margin-bottom: 10px
}

.features-grid--items .bg-color--theme {
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

.features-grid--items .bg-color--theme:hover {
    background-color: #000
}

.features-grid--item {
    position: relative;
    padding: 28px 35px 29px;
    z-index: 0
}

.features-grid--item:before {
    counter-increment: featuresGrid;
    content: counter(featuresGrid, decimal-leading-zero);
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 78px;
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
}

.features-grid--left.text-right .features-grid--item:before {
    left: 30px;
    right: auto
}

.features-grid--items .bg-color--theme:hover .features-grid--item:before {
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
}

.features-grid--icon {
    font-size: 30px
}

.features-grid--content .h4 {
    margin: 16px 0 20px
}

.features-grid--items,
.features-grid--items .row {
    margin-left: -5px;
    margin-right: -5px
}

.features-grid--items .row>div,
.features-grid--items>div {
    padding-left: 5px;
    padding-right: 5px
}

.gallery--filter {
    margin-bottom: 80px
}

.gallery--filter ul {
    margin-top: -15px;
    margin-bottom: 0;
    font-size: 0;
    line-height: 0;
    text-align: center
}

.gallery--filter ul li {
    margin: 15px 7.5px 0;
    border-color: transparent
}

.gallery--item {
    margin-bottom: 30px
}

.gallery--item figure a,
.product--img figure {
    display: block;
    position: relative
}

.gallery--item .figcaption {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 15px;
    text-align: center;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    z-index: 0
}

.gallery--item a:hover .figcaption,
.product--item:hover .product--img figcaption {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.gallery--item .figcaption.bg--overlay:before,
.product--img figcaption.bg--overlay:before {
    background-color: #fff;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}

.gallery--item .figcaption .fa {
    font-size: 24px
}

.gallery--item .figcaption .h4 {
    margin: 23px 0 0;
    color: #222
}

.gallery--footer {
    margin-top: 30px;
    text-align: center
}

.gallery--content-title {
    margin-bottom: 60px;
    color: #999;
    font-size: 16px;
    font-weight: lighter
}

.gallery--content-featured+.gallery--content-title {
    margin-top: 37px
}

.gallery--content-title .h3 {
    margin: 0 0 17px;
    color: #222;
    font-weight: 400
}

.gallery--content-title p {
    font-style: italic
}

.gallery--content-title .btn-groups {
    float: right;
    font-size: 0;
    line-height: 0
}

.gallery--content-title .btn-groups a {
    font-size: 24px;
    line-height: 28px
}

.gallery--content-title .btn-groups a+a:before {
    content: "/";
    margin: 0 10px;
    color: #222
}

.gallery--content-text {
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter
}

.gallery--content-text p {
    margin: 20px 0 30px
}

.gallery--content-text p:first-child {
    margin-top: 0
}

.gallery--content-text p:last-child {
    margin-bottom: 0
}

.gallery--content-sidebar {
    padding: 16px 30px 30px
}

.gallery--content-sidebar .table th {
    padding: 11px 0;
    border-top: 0;
    min-width: 160px;
    color: #222;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400
}

.gallery--content-sidebar .table td {
    border-top: 0;
    padding: 11px 0 11px 20px;
    color: #555;
    font-size: 16px;
    line-height: 22px
}

.gallery--content-sidebar .table th:after {
    content: ":";
    float: right;
    color: #555
}

.gallery--content-sidebar .table th .fa {
    min-width: 22px;
    color: #999;
    text-align: center
}

#pricingIncluded .pricing--items,
.gallery--content-sidebar .tags {
    font-size: 0;
    line-height: 0
}

.gallery--content-sidebar .tags a {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 11px;
    color: #555;
    border-bottom: 1px solid #707070;
    font-size: 16px;
    line-height: 22px
}

.gallery--content-sidebar .tags a:focus,
.gallery--content-sidebar .tags a:hover {
    color: #119ee6;
    border-bottom-color: #119ee6
}

.gallery--content-sidebar .social {
    font-size: 14px
}

.gallery--content-sidebar .social li {
    float: left
}

.gallery--content-sidebar .social li a {
    padding: 0;
    margin-right: 14px;
    color: #555
}

.gallery--content-sidebar .social li a:focus,
.gallery--content-sidebar .social li a:hover {
    color: #119ee6
}

.gallery--content-sidebar .social li:last-child a {
    margin-right: 0
}

.gallery--content-sidebar>.btn {
    margin-top: 4px
}

.gallery--related-projects {
    margin-top: 100px
}

.gallery--related-projects .page--main-content-title .h3 {
    margin: 0;
    font-weight: 400
}

.gallery--related-projects .gallery--items {
    margin-top: 60px
}

#pricing,
#pricingIncluded,
#pricingTable {
    color: #999
}

.pricing--filter {
    margin-bottom: 80px;
    text-align: center
}

.pricing--filter .btn-group {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff
}

.pricing--filter .btn-group>li {
    padding: 0
}

.pricing--filter .btn-group>li>a {
    display: block;
    padding: 8px 20px;
    color: #222
}

.pricing--filter .btn-group>li.active>a,
.pricing--filter .btn-group>li:active>a,
.pricing--filter .btn-group>li:focus>a,
.pricing--filter .btn-group>li:hover>a {
    color: #fff
}

.pricing--item {
    margin-bottom: 60px
}

.pricing--content {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .05);
    text-align: center;
    overflow: hidden;
    z-index: 0
}

.pricing--content.ribbon:before {
    content: "Recommended";
    position: absolute;
    top: 22px;
    left: -45px;
    padding: 15px 40px;
    color: #119ee6;
    background-color: #fff;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.pricing--header {
    padding: 17px 15px;
    color: #fff;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

.pricing--content.active .pricing--header,
.pricing--content.active .pricing--icon .fa,
.pricing--content.active .pricing--icon .fa:after,
.pricing--content.active .pricing--icon:before,
.pricing--content:hover .pricing--header,
.pricing--content:hover .pricing--icon .fa,
.pricing--content:hover .pricing--icon .fa:after,
.pricing--content:hover .pricing--icon:before {
    background-color: #119ee6
}

.pricing--header .h5 {
    margin-top: 18px;
    font-style: italic;
    font-weight: 400
}

.pricing--header .h5 strong {
    display: block;
    font-size: 30px;
    font-style: normal
}

.pricing--header .h5 strong small {
    color: #fff;
    font-size: 18px
}

.pricing--icon {
    position: relative;
    margin-top: -33px;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    z-index: -1
}

.pricing--icon:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #000;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    z-index: -1
}

.pricing--icon:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85px;
    margin: 5px auto;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 0
}

.pricing--icon .fa,
.pricing--icon .fa:after {
    background-color: #000;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

.pricing--icon .fa {
    min-width: 95px;
    padding: 32.5px 0;
    border-radius: 50%
}

.pricing--icon .fa:before {
    position: relative;
    z-index: 2
}

.pricing--icon .fa:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 85px;
    height: 56%;
    margin: 0 auto;
    z-index: 1
}

.pricing--features {
    font-size: 16px;
    line-height: 20px
}

.pricing--features ul {
    padding: 0;
    margin: 28px 0 0;
    list-style: none
}

.pricing--features li {
    margin-bottom: 16px;
    padding: 0 15px
}

.pricing--features li:last-child {
    margin-bottom: 0
}

.coming-soon--content .social .nav>li>a:hover,
.f0f--content p a,
.footer--widget>ul>li:hover:before,
.pricing--features .fa-check-square-o,
.product--img figcaption .nav>li>a:hover,
.product--rating .br-theme-bootstrap-stars .br-widget a.br-active:after,
.product--rating .br-theme-bootstrap-stars .br-widget a.br-selected:after,
.product--single-summery-meta .table td a.active {
    color: #119ee6
}

.pricing--features li .h3 {
    margin: 1px 0 4px;
    line-height: 37px
}

.pricing--footer {
    padding: 30px 0
}

.pricing--content.active .pricing--footer .btn-primary,
.pricing--content:hover .pricing--footer .btn-primary {
    background-color: #000;
    border-color: #000
}

.pricing--items.shadow--off .pricing--content {
    box-shadow: none
}

.pricing--items.shadow--off .pricing--footer {
    padding-bottom: 0
}

.pricing--items.border--on .pricing--content {
    border-radius: 4px 4px 0 0
}

.pricing--items.border--on .pricing--features {
    position: relative;
    z-index: 0
}

.pricing--items.border--on .pricing--features:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #eee
}

.pricing--items.border--on .pricing--item:last-child .pricing--features:before {
    border-right-width: 1px
}

.pricing--items.border--on .pricing--icon+.pricing--features:before {
    top: -77px
}

.pricing--items.border--on .pricing--features ul {
    margin-top: 30px
}

.pricing--items.border--on .pricing--features li {
    margin-bottom: 0;
    padding: 10px 30px;
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #ccc
}

.pricing--items.border--on .pricing--features li:last-child {
    border-bottom-width: 1px
}

#pricingIncluded .pricing--item {
    float: none;
    display: inline-block;
    margin-bottom: 60px;
    vertical-align: bottom
}

#pricingIncluded .pricing--item:first-child {
    padding-bottom: 70px
}

.pricing--table {
    margin-bottom: 0;
    text-align: center
}

.pricing--table th {
    position: relative;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    color: #222;
    border: 0!important;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    text-align: center;
    z-index: 0
}

.pricing--table th:before {
    top: 0;
    height: 100%;
    background-color: #eee
}

.pricing--table td:before,
.pricing--table th:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    border-style: solid;
    border-width: 1px 0;
    border-color: #ccc;
    z-index: -1
}

.pricing--table td:first-child:before,
.pricing--table th:first-child:before {
    border-left-width: 1px;
    border-radius: 4px 0 0 4px
}

.pricing--table td:last-child:before,
.pricing--table th:last-child:before {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0
}

.pricing--table th:after {
    top: 17.5px;
    bottom: 17.5px
}

.pricing--table td:after,
.pricing--table th:after {
    content: " ";
    position: absolute;
    right: 0;
    width: 1px;
    background-color: #ccc
}

.pricing--table td:last-child:after,
.pricing--table th:last-child:after {
    display: none
}

.pricing--table td {
    position: relative;
    padding-top: 21px!important;
    padding-bottom: 11px!important;
    border: 0!important;
    font-size: 16px;
    vertical-align: middle!important;
    z-index: 0
}

.pricing--table td:before {
    top: 10px;
    bottom: 0;
    height: auto;
    background-color: transparent
}

.pricing--table td:after {
    top: 26px;
    bottom: 16px
}

.pricing--table .btn-default {
    color: #222;
    background-color: #eee;
    border-color: #eee;
    font-weight: 700
}

.pricing--table .btn-default:focus,
.pricing--table .btn-default:hover {
    color: #fff;
    background-color: #119ee6;
    border-color: #119ee6
}

.affiliate--pricing-table .pricing--table td:before,
.affiliate--pricing-table .pricing--table th:before {
    background-color: transparent;
    border-radius: 0
}

.affiliate--pricing-table .pricing--table th:after {
    top: 0;
    bottom: 0
}

.affiliate--pricing-table .pricing--table td:after {
    bottom: 0;
    top: 10px
}

.vps-pricing--slider.ui-widget {
    height: 20px;
    margin: 295px 145px 0;
    border: 0;
    border-radius: 0
}

.counter--item:after,
.vps-pricing--slider.ui-widget:after,
.vps-pricing--slider.ui-widget:before {
    content: " ";
    position: absolute
}

.vps-pricing--slider.ui-widget:before {
    top: 0;
    left: -145px;
    right: -145px;
    height: 100%;
    background-color: #000;
    border: 3px solid #ccc
}

.vps-pricing--slider.ui-widget:after {
    top: 5px;
    left: -140px;
    bottom: 5px;
    width: 145px;
    background-color: #119ee6
}

.vps-pricing--slider .ui-slider-range {
    top: 5px;
    left: 0;
    bottom: 5px;
    height: auto;
    background-color: #119ee6;
    border-radius: 0;
    -webkit-transition: width .55s ease-in-out;
    transition: width .55s ease-in-out
}

.vps-pricing--slider .ui-slider-handle {
    top: -6px;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background-color: #119ee6;
    border: 0;
    border-radius: 50%;
    -webkit-transition: left .55s ease-in-out;
    transition: left .55s ease-in-out;
    cursor: pointer;
    outline: 0
}

.vps-pricing--slider .pricing--content {
    top: -221px;
    left: -130px;
    width: 290px;
    background-color: transparent;
    box-shadow: none
}

.vps-pricing--ruler {
    width: 100%;
    min-height: 15px;
    margin-top: 40px;
    background-size: auto;
    background-repeat: repeat
}

.vps-pricing--items {
    margin-top: 60px
}

.vps-pricing--item {
    margin-bottom: 30px
}

.vps-pricing--content {
    position: relative;
    border: 1px solid #ccc;
    text-align: center
}

.vps-pricing--content .fa {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    margin-top: -15px;
    font-size: 30px;
    line-height: 30px
}

.vps-pricing--content .h4,
.vps-pricing--content .h5 {
    margin: 0 0 0 100px;
    padding: 15px 10px;
    border-left: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px
}

.vps-pricing--content .h4 {
    color: #555;
    border-bottom: 1px solid #ccc
}

.vps-pricing--content .h5 {
    color: #999
}

.vps-pricing--action {
    margin-top: 20px;
    font-size: 0;
    line-height: 0;
    text-align: center
}

.vps-pricing--action .btn {
    margin: 30px 15px 0
}

#counter {
    color: #fff
}

.counter--item {
    position: relative;
    margin-bottom: 40px;
    z-index: 0
}

.counter--item:after {
    top: 20px;
    right: 32px;
    bottom: 15px;
    width: 3px;
    background-color: #119ee6;
    -webkit-transform: rotate(21deg);
    transform: rotate(21deg);
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
}

.counter--item:last-child:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.counter--item .fa {
    position: absolute;
    font-size: 72px;
    line-height: 72px;
    opacity: .15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    z-index: -1
}

.counter--item .h1 {
    margin-top: 0;
    font-size: 48px;
    line-height: 52px
}

.affiliate--counter .counter--item {
    padding-top: 50px;
    padding-bottom: 43px;
    color: #222
}

.affiliate--counter .counter--item:after {
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: -1
}

.affiliate--counter .counter--item .fa {
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -60px;
    color: #ededed;
    font-size: 120px;
    line-height: 120px;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}

.affiliate--counter .counter--item .h1 {
    font-size: 36px;
    line-height: 40px
}

.products {
    margin-bottom: 0;
    padding: 0;
    list-style: none
}

.product--item {
    margin-bottom: 60px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1)
}

.product--img {
    position: relative;
    z-index: 0
}

.product--img figcaption,
.product--sale-tag {
    position: absolute;
    text-align: center;
    z-index: 1
}

.product--img figcaption {
    bottom: 15px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    top: 15px;
    left: 15px;
    right: 15px
}

.product--img figcaption .nav {
    padding: 0 20px;
    background-color: #fff
}

.product--img figcaption .nav>li>a {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #999
}

.product--img figcaption .nav>li .tooltip {
    margin-top: -6px;
    margin-left: -2px
}

.product--img figcaption .nav>li .tooltip-inner {
    padding: 8.5px 15px 11px;
    background-color: #119ee6;
    border-radius: 0;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap
}

.product--sale-tag {
    display: block;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100px;
    padding: 6px 0 4px;
    color: #fff;
    background-color: #119ee6;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    line-height: 22px
}

.product--details {
    padding: 30px 30px 27px
}

.product--details .h4 {
    margin: 0 0 26px;
    font-size: 16px;
    line-height: 20px
}

.product--price {
    font-size: 18px;
    line-height: 22px
}

.product--price del {
    margin-left: 20px;
    color: #119ee6
}

.product--rating {
    color: #119ee6;
    font-size: 14px;
    line-height: 22px
}

.product--rating .br-widget,
.product--rating .br-wrapper {
    display: inline
}

.product--rating .br-theme-bootstrap-stars .br-widget a {
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle
}

.product--quantity {
    position: relative;
    font-size: 0;
    line-height: 0;
    z-index: 0
}

.product--quantity::-moz-selection {
    color: #222;
    background-color: transparent
}

.product--quantity::selection {
    color: #222;
    background-color: transparent
}

.product--quantity .fa {
    color: #999;
    padding: 1px 5.5px;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer
}

.product--quantity .form-control {
    display: inline-block;
    width: 40px;
    height: auto;
    margin: 0 -1px;
    padding: 9px 5px;
    color: #222;
    background-color: transparent;
    border-color: #ccc;
    border-radius: 0;
    font-size: 14px;
    box-shadow: none;
    text-align: center;
    cursor: default;
    outline: 0
}

.product--single-img img {
    width: 100%;
    margin-bottom: 0
}

.product--single-img a.expend {
    display: block;
    position: relative;
    z-index: 0
}

.product--single-img a.expend:after {
    content: "\f065";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 9px 12.5px;
    color: #fff;
    background-color: #119ee6;
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 22px;
    text-align: center
}

.product--single-img .owl-carousel {
    margin-top: 30px
}

.product--single-img .owl-item a img {
    display: block;
    border: 1px solid transparent;
    -webkit-transition: border-color .25s;
    transition: border-color .25s
}

.product--single-img .owl-item a.active img {
    border-color: #222
}

.product--single-img .owl-next,
.product--single-img .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    padding: 4px 12px;
    color: #555;
    background-color: #fff;
    font-size: 18px;
    line-height: 22px;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: opacity .25s;
    transition: opacity .25s
}

.product--single-img .owl-next:hover,
.product--single-img .owl-prev:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.product--single-img .owl-next {
    right: 0
}

.product--single-summery .h3 {
    margin-top: -4px!important;
    font-weight: 700!important
}

.product--single-summery-links {
    margin: 28px 0 24px
}

.product--single-summery-links .nav>li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #999
}

.product--single-summery-links .nav>li:first-child {
    padding-left: 0
}

.product--single-summery-links .nav>li:last-child {
    padding-right: 0;
    border-right: 0
}

.product--single-summery-links .nav>li>a {
    padding: 0;
    font-size: 14px;
    line-height: 18px
}

.product--single-summery-links .product--rating {
    line-height: 18px
}

.product--single-summery-meta {
    margin-top: 14px
}

.product--single-summery-meta .table {
    margin-bottom: 0
}

.product--single-summery-meta .table th {
    padding: 11px 0;
    border-top: 0;
    min-width: 100px;
    color: #222;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400
}

.product--single-summery-meta .table td {
    border-top: 0;
    padding: 11px 0 11px 20px;
    color: #555;
    font-size: 16px;
    line-height: 22px
}

.product--single-summery-meta .table th:after {
    content: ":";
    float: right;
    color: #555
}

.product--single-summery-meta .table th.middle {
    vertical-align: middle
}

.product--single-summery-meta .table th .fa {
    min-width: 22px;
    color: #999;
    text-align: center
}

.product--single-summery-meta .tags {
    font-size: 0;
    line-height: 0
}

.product--single-summery-meta .tags a {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 11px;
    color: #999;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    line-height: 22px
}

.product--single-summery-meta .tags a:focus,
.product--single-summery-meta .tags a:hover {
    color: #119ee6;
    border-bottom-color: #119ee6
}

.product--single-summery-meta .btn-group {
    margin-top: 2px;
    margin-left: 25px
}

.product--single-summery-meta .btn-group .btn {
    margin: 0 5px;
    border: 0;
    border-radius: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px
}

.product--single-summery-meta .btn-group .btn.cart {
    padding: 0 20px 0 0
}

.product--single-summery-meta .btn-group .btn.cart .fa {
    margin-right: 20px;
    padding: 10px 15px;
    background-color: #119ee6
}

.product--single-summery-meta .btn-group .btn-default {
    color: #999;
    background-color: #f6f6f6
}

.product--single-summery-meta .btn-group .btn-default.active,
.product--single-summery-meta .btn-group .btn-default:focus,
.product--single-summery-meta .btn-group .btn-default:hover {
    color: #fff;
    background-color: #119ee6
}

.product--single-tabs {
    margin-top: 66px
}

.product--single-tabs .tab-content {
    margin-top: 49px
}

.product--single-tabs .review--title {
    color: #222;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400
}

.product--single-tabs .review--title+.reviews {
    margin-top: 21px
}

.product--single-tabs .reviews>li {
    margin-bottom: 30px
}

.product--single-tabs .reviews>li:last-child {
    margin-bottom: 0
}

.product--single-tabs .reviewer--img {
    float: left;
    width: 60px
}

.product--single-tabs .reviewer--img+.reviewer--content {
    margin-left: 90px
}

.product--single-tabs .reviewer--content {
    position: relative;
    padding: 15px 20px;
    color: #999;
    border: 1px solid #eee;
    font-size: 14px;
    line-height: 24px;
    z-index: 0
}

.product--single-tabs .reviewer--content:after,
.product--single-tabs .reviewer--content:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #eee transparent transparent
}

.product--single-tabs .reviewer--content:after {
    left: -8px;
    border-width: 7px 9px 7px 0;
    border-color: transparent #fff transparent transparent
}

.product--single-tabs .reviewer--name {
    margin-bottom: 10px;
    overflow: hidden
}

.product--single-tabs .reviewer--name .h4,
.product--single-tabs .reviewer--name .h4 small {
    font-size: 14px;
    line-height: 22px
}

.product--single-tabs .reviewer--name .h4 {
    margin: 0;
    color: #555;
    font-family: "Roboto", sans-serif
}

.product--single-tabs .review--form .form-group label span,
.product--single-tabs .reviewer--name .h4 small {
    color: #999
}

.cart-collaterals,
.product--single-tabs .reviews+.review--form {
    margin-top: 60px
}

.product--single-tabs .review--form {
    color: #555;
    font-size: 14px;
    line-height: 22px
}

.product--single-tabs .review--form .product--rating .review--title {
    font-size: 14px
}

.product--single-tabs .review--form .product--rating .fa.active:before {
    content: "\f005"
}

.product--single-tabs .review--form .form-group {
    margin-top: 20px;
    margin-bottom: 0
}

.product--single-tabs .review--form .form-group .form-control {
    height: auto;
    padding: 9px 15px;
    border-color: #eee;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    resize: vertical
}

#cart .pricing--table {
    text-align: left
}

#cart .pricing--table th {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left
}

#cart .pricing--table td {
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    overflow: hidden
}

.cart--item .remove {
    padding-left: 0;
    padding-right: 0;
    text-align: left
}

.cart--item .remove a,
.checkout--form .form-group label span {
    color: red
}

.cart--actions>td {
    padding: 30px 0 0!important;
    overflow: hidden
}

.cart--actions>td:first-child:before {
    border: 0
}

.cart--coupon label {
    margin: 10px 20px 10px 0;
    color: #222;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400
}

.cart--coupon label span {
    margin-left: 25px
}

.cart--coupon .form-control {
    width: 140px;
    height: auto;
    padding: 8px 5px 10px 25px;
    border-right: 0;
    box-shadow: none;
    font-size: 16px;
    line-height: 20px;
    outline: 0
}

.cart--coupon .input-group-addon {
    width: auto;
    padding: 0;
    background-color: transparent;
    border: 0;
    text-align: left
}

.cart--coupon .input-group-addon .btn {
    padding: 7px 15px 9px;
    border-radius: 0 4px 4px 0
}

.cart--total>.h4 {
    margin: 0 0 17px;
    font-weight: 400
}

#datacenter,
#testimonial,
.cart--total .table {
    color: #555
}

.cart--total .table td {
    padding: 8px 20px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: lighter
}

.checkout--info {
    margin-bottom: 20px;
    padding: 25px 35px 27px;
    color: #555;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc #ccc #ccc #119ee6;
    border-radius: 4px;
    font-size: 18px;
    line-height: 28px
}

.checkout--form {
    margin-top: 39px
}

.checkout--form-title {
    margin: 0 0 12px;
    color: #222;
    font-weight: 400
}

.checkout--form .form-group {
    margin: 28px 0 0
}

.checkout--form .form-group label {
    margin-bottom: 14px;
    color: #555;
    font-weight: 400
}

.checkout--form .form-control {
    height: 40px;
    padding: 4.5px 15px;
    border-color: #eee;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    line-height: 29px;
    outline: 0
}

.checkout--form .form-control+.form-control {
    margin-top: 20px
}

.checkout--form .checkbox {
    margin: 18px 0 0;
    color: #555
}

.checkout--form .checkbox input {
    margin-top: 3px
}

.checkout--form .checkbox .h4 {
    color: #222;
    font-weight: 400
}

.checkout--form select.form-control {
    padding-top: 9.5px;
    padding-bottom: 9.5px
}

.checkout--form textarea.form-control {
    height: auto;
    min-height: 100px;
    resize: vertical
}

.checkout--form .table {
    margin-bottom: 0;
    color: #555;
    border-color: #eee
}

.checkout--form-title+.table {
    margin-top: 47px
}

.checkout--form .table td,
.checkout--form .table th {
    padding: 11px 20px 9px;
    border-color: #eee
}

.checkout--payments {
    margin-top: 40px;
    padding: 30px
}

.checkout--payments .radio {
    margin: 0 0 30px
}

.checkout--payments .radio:first-child {
    margin-top: -4px
}

.checkout--payments label {
    display: block;
    color: #222
}

.checkout--payments label input {
    margin-top: 2px
}

.checkout--payments label+img,
.checkout--payments label+textarea {
    margin-top: 19px
}

.team--member-img {
    position: relative;
    -webkit-transition: box-shadow .55s ease-in-out;
    transition: box-shadow .55s ease-in-out;
    overflow: hidden
}

.team--member-img:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1)
}

.team--member-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    color: #fff;
    -webkit-transition: bottom .55s ease-in-out;
    transition: bottom .55s ease-in-out;
    text-align: center
}

.team--member-img:hover .team--member-info {
    bottom: 0
}

.team--member-info:before {
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}

.team--member-info .h4 {
    margin: 0;
    padding: 17px 20px 10px;
    font-weight: 400
}

.team--member-info p {
    margin: 0 0 14px;
    color: #ccc;
    letter-spacing: 2px
}

.team--member-socai {
    border-top: 1px solid #555
}

.coming-soon--content .social .nav>li,
.team--member-socai .nav>li {
    display: inline-block
}

.team--member-socai .nav>li>a {
    color: #fff;
    padding: 19px 10px 16px;
    font-size: 12px
}

.team--member-socai .nav>li>a:focus,
.team--member-socai .nav>li>a:hover {
    color: #119ee6
}

.testimonial--wrapper .section--title h2 {
    font-size: 36px;
    line-height: 44px
}

.testimonial--item .h3 {
    position: relative;
    color: #222;
    z-index: 0
}

.testimonial--item .h3:before {
    content: "\f10d";
    position: absolute;
    left: 2px;
    bottom: -3px;
    color: #ddd;
    font-family: "FontAwesome";
    font-size: 48px;
    z-index: -1
}

.testimonial--item .stars {
    margin-bottom: 11px;
    color: #ddd;
    font-size: 18px;
    line-height: 28px
}

.testimonial--item blockquote:before {
    width: 1px;
    background-color: #119ee6
}

.testimonial--recommender {
    margin-top: 20px
}

.testimonial--recommender .info,
.testimonial--recommender .photo {
    display: table-cell;
    vertical-align: middle
}

.testimonial--recommender .photo img {
    width: 60px
}

.testimonial--recommender .info {
    padding-left: 20px
}

.testimonial--recommender .info .h4 {
    color: #222;
    margin: 2px 0;
    font-size: 16px;
    font-weight: 400
}

.testimonial--recommender .info .h4+p {
    margin-top: 8px
}

.quotes-form--content {
    padding: 30px;
    color: #999;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, .05);
    text-align: center
}

.quotes-form--content .h3 {
    margin: -4px 0 20px;
    color: #222
}

.quotes-form--content .h3+p {
    margin: -7px 0 29px
}

.quotes-form--content .form-control {
    height: auto;
    padding: 10px 20px;
    background-color: #f6f6f6;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    font-style: italic;
    outline: 0;
    resize: vertical
}

.contact--form form textarea.form-control,
.quotes-form--content textarea.form-control {
    min-height: 120px
}

.quotes-form--content .btn {
    border-radius: 0
}

.datacenter--img img {
    width: 100%
}

.datacenter--slider .owl-next,
.datacenter--slider .owl-prev {
    display: block;
    position: absolute;
    top: 50%;
    padding: 27.5px 11px;
    margin-top: -40px;
    background-color: #f9f9f9;
    border-radius: 0 4px 4px 0;
    font-size: 24px;
    line-height: 24px
}

.datacenter--slider .owl-next {
    right: -1px;
    border-radius: 4px 0 0 4px
}

.datacenter--content {
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter
}

.datacenter--title .h3 {
    margin: -3px 0 0;
    color: #222;
    font-weight: 400
}

.datacenter--title p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 22px;
    font-style: italic
}

.datacenter--title+.datacenter--text {
    margin-top: 24px
}

.datacenter--footer {
    margin-top: 31px
}

.login--form {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .1)
}

.login--form-content {
    padding: 30px;
    border: 1px dotted #999
}

.login--form form {
    max-width: 350px;
    margin: 0 auto
}

.login--form .form-group {
    margin-bottom: 30px
}

.login--form label {
    display: block;
    position: relative;
    margin-top: -4px;
    color: #222;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400
}

.login--form label+.input-group {
    margin-top: 10px
}

.login--form .input-group-addon {
    padding: 0 0 0 20px;
    color: #ccc;
    background-color: transparent;
    border-color: #eee
}

.login--form .input-group-addon .fa {
    padding: 5px 20px 5px 0;
    border-right: 1px solid #eee
}

.login--form .form-control {
    height: auto;
    padding: 8px 20px 9px;
    color: #222;
    border-color: #eee;
    border-left: 0;
    box-shadow: none;
    outline: 0
}

.login--form .checkbox a,
.login--form .checkbox label {
    margin-top: -3px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter
}

.login--form .checkbox label span {
    margin-left: 5px
}

.login--form .checkbox label span:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #eee
}

.login--form .checkbox label span:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    padding-left: 1px;
    font-family: "FontAwesome";
    font-size: 8px;
    line-height: 15px;
    text-align: center
}

.login--form .checkbox label input:checked+span:after {
    content: "\f00c"
}

.login--form .checkbox a {
    border-bottom: 1px solid #eee
}

.login--form .checkbox a:hover {
    color: #119ee6;
    border-color: #119ee6
}

.login--form .btn {
    margin-top: 27px
}

.login--form .btn-block+.btn-block {
    margin-top: 23px
}

#contact {
    color: #555;
    font-size: 14px;
    line-height: 27px
}

.contact--content {
    margin-bottom: 11px
}

.contact--form,
.contact--map {
    margin-top: 60px
}

.contact--form form {
    padding: 30px;
    color: #999;
    background-color: #fff;
    border-radius: 4px
}

.contact--form form .h3 {
    margin: -4px 0 25px;
    color: #222
}

.contact--form form .form-control {
    height: auto;
    padding: 10px 20px;
    background-color: #f6f6f6;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    font-style: italic;
    outline: 0;
    resize: vertical
}

.contact--form form .btn {
    border-radius: 0
}

.contact--status .alert {
    padding: 15px 20px;
    border: 0;
    border-radius: 0;
    font-size: 16px
}

.contact--form form,
.contact--map #map {
    box-shadow: 0 1px 20px rgba(0, 0, 0, .05)
}

.f0f--title h1 {
    margin: 0;
    padding: 60px 0;
    border-right: 2px solid #999;
    font-size: 86px;
    line-height: 127px
}

.f0f--content .h2 {
    margin-bottom: 22px
}

.f0f--content p {
    font-size: 18px;
    line-height: 32px
}

#f0f,
#f0f>.container,
#f0f>.container>.row,
#f0f>.container>.row>div,
.coming-soon--slider,
.coming-soon--slider .item,
.coming-soon--slider .owl-item,
.coming-soon--slider .owl-stage,
.coming-soon--slider .owl-stage-outer {
    height: 100%
}

.coming-soon--slider .item {
    padding: 0 30px;
    color: #fff;
    text-align: center
}

.coming-soon--slider .item h1 {
    margin: 0;
    padding: 0 15px;
    font-size: 48px;
    line-height: 70px
}

.coming-soon--slider .owl-next,
.coming-soon--slider .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    padding: 34.5px 15px;
    color: #222;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    font-size: 30px;
    line-height: 30px
}

.coming-soon--slider .owl-next {
    right: 0;
    border-radius: 4px 0 0 4px
}

.coming-soon--content .h1 {
    margin: 67px 0 38px;
    color: #222;
    font-weight: 400
}

.coming-soon--content .h4 {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 18px
}

.coming-soon--content p {
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter
}

.coming-soon--content .counter {
    margin-top: 7px;
    margin-bottom: 34px
}

.coming-soon--content .counter ul,
.footer--widget>ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.coming-soon--content .counter ul li {
    display: inline-block;
    min-width: 122px;
    margin: 30px 15px 0;
    padding: 16px 10px 8px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 18px
}

.coming-soon--content .counter ul li strong {
    display: block;
    margin-bottom: 7px;
    padding: 0 20px 9px;
    border-bottom: 1px solid #999;
    font-family: 'Droid Serif', sans-serif;
    font-size: 36px;
    line-height: 36px
}

.coming-soon--content .subscribe--widget {
    margin-top: 19px
}

.coming-soon--content .subscribe--widget .form-control,
.coming-soon--content .subscribe--widget .input-group,
.coming-soon--content .subscribe--widget .input-group-addon {
    float: none;
    display: block;
    width: 100%
}

.coming-soon--content .subscribe--widget .form-control {
    border-bottom: 1px solid #999;
    font-size: 16px;
    text-align: center
}

.coming-soon--content .subscribe--widget .input-group-addon .btn {
    margin-top: 15px;
    margin-right: 0;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px
}

.coming-soon--content .social {
    margin-top: 36px
}

.coming-soon--content .social h5 {
    margin: 0 0 4px;
    color: #222;
    font-weight: 400
}

.coming-soon--content .social .nav>li>a {
    color: #aaa
}

.contact-info--item {
    display: block;
    padding: 40px 10px;
    color: #fff;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

.contact-info--item:focus,
.contact-info--item:hover {
    color: #fff;
    background-color: #000
}

.contact-info--icon {
    float: left;
    margin-right: 15px;
    font-size: 36px;
    line-height: 40px
}

.contact-info--content {
    overflow: hidden
}

.contact-info--content .h3 {
    margin-top: 12px;
    font-weight: 400
}

#footer {
    color: #999
}

.footer--title {
    margin-top: -7px;
    margin-bottom: 31px;
    color: #fff
}

.footer--widget {
    margin-bottom: 40px
}

.footer--widget .about--widget .btn {
    margin-top: 9px
}

.footer--widget .about-widget--social {
    margin: 23px 0 -6px
}

.footer--widget>ul>li:before {
    content: "\f0a4";
    margin-right: 8px;
    color: #fff;
    font-family: "FontAwesome";
    -webkit-transition: color .25s;
    transition: color .25s
}

.footer--widget>ul>li>a {
    color: #999;
    line-height: 30px
}

.footer--widget p+.subscribe--widget {
    margin-top: 20px
}

.footer--widget .payment-info--widget {
    margin-top: 28px;
    color: #fff
}

.footer--copyright {
    padding: 33px 0 35px;
    border-top: 1px solid #555;
    font-size: 16px;
    line-height: 20px
}

.footer--copyright .fa,
.footer--copyright a,
.footer--widget>ul>li:hover>a {
    color: #119ee6
}

.reset-gutter,
.reset-margin {
    margin-right: 0;
    margin-left: 0
}

.reset-gutter>[class*=col-],
.reset-padding {
    padding-right: 0;
    padding-left: 0
}

.vc--parent {
    width: 100%;
    height: 100%;
    display: table
}

.row--vc>div,
.vc--child {
    display: table-cell;
    vertical-align: middle
}

.row--vc>div {
    float: none
}